<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    
    <display-name>Web Application</display-name>
    
    <!-- Tomcat 최적화 설정 -->
    <context-param>
        <param-name>org.apache.tomcat.util.scan.StandardJarScanFilter.jarsToSkip</param-name>
        <param-value>
            annotations-api.jar,ant-*.jar,aspectj*.jar,bootstrap.jar,commons-*.jar,
            derby-*.jar,dnsns.jar,ecj-*.jar,h2-*.jar,hamcrest-*.jar,hibernate*.jar,
            jaspic-api.jar,jasper-*.jar,jaxb-*.jar,jetty-*.jar,jta*.jar,junit-*.jar,
            log4j*.jar,mail-*.jar,slf4j*.jar,spring-*.jar,taglibs-*.jar,
            tomcat-*.jar,websocket-api.jar,wsdl4j-*.jar,xercesImpl.jar,xml-apis.jar,
            xmlParserAPIs-*.jar,xom-*.jar
        </param-value>
    </context-param>
    
    <context-param>
        <param-name>org.apache.tomcat.util.scan.StandardJarScanFilter.jarsToScan</param-name>
        <param-value></param-value>
    </context-param>
    
    <!-- JSP 컴파일 최적화 -->
    <context-param>
        <param-name>org.apache.jasper.compiler.disablejsr199</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!-- 기본 인덱스 페이지 설정 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <!-- 인코딩 필터 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.example.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 세션 타임아웃 (30분) -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- 에러 페이지 -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jsp</location>
    </error-page>
</web-app>